<div class="container">
  <h1>Sistema de Gestión de Inventario</h1>
  <p class="error" *ngIf="error">{{ error }}</p>
</div>

<app-product-list></app-product-list>
<app-movimiento-form [productos]="productos" (registrar)="registrarMovimiento($event)"></app-movimiento-form>

<div class="container row">
  <label>Ver historial del producto:</label>
  <select [(ngModel)]="productoHistorialId">
    <option *ngFor="let p of productos" [ngValue]="p.id">{{ p.nombre }}</option>
  </select>
</div>

<app-movimiento-history [productoId]="productoHistorialId"></app-movimiento-history>
